{% extends "base.html" %}

{% block title %}
{{ block.super }} - {% if add %}create member
    {% else %}"{{ object.title }}" edit{% endif %}
{% endblock %}

{% block content %}
{% if add %}
<h2>create member</h2>
{% url members_member_create as action_url %}
{% else %}
<h2>edit member "{{ object.title }}"</h2>
{% url 'members_member_edit' object.pk as action_url %}
{% endif %}
<form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="save"/></p>
</form>
<a href="{% url 'members_member_index' %}">back</a>
{% endblock %}
